img {
  transition: transform 250ms;
  border-radius: 5px;
}

img:hover {
  transform: translateY(-10px);
  transform: scale(1.1);
}

.my-modal {
  background-color: linear-gradient(to top, rgba(5, 5, 117, 0.671), 20%, black);
}
